<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <nav>
        <ul class="left-menu">
            <li><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='favicon_io/brainlogo.png') }}" alt="Logo" style="height: 40px;"></a></li>
        </ul>
        <ul class="right-menu">
            <li><a href="{{ url_for('digit') }}">Digit</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Draw a Digit</h1>
        <p>Use your mouse to draw a digit on the canvas below and click "Predict" to see what digit the AI thinks it is!</p>
        <canvas id="sketchpad" width="280" height="280"></canvas>
        <div class="buttons">
            <button id="predict">Predict</button>
            <button id="clear">Clear</button>
        </div>
        <p id="result"></p>
    </div>
    <script src="{{ url_for('static', filename='js/sketchpad.js') }}"></script>
</body>
</html>
